<nav ng-controller="NavigationController as ctrl" class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Aluno Cabuloso<b class="caret"></b></strong>
                             </span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li ng-click="ctrl.logout()"><a href="">Log out</a></li>
                    </ul>
                </div>

            </li>
            <li ng-if="ctrl.desapear" ui-sref-active="active">
              <a ui-sref="index.mainAdm"><i class="fa fa-file-text-o"></i> <span class="nav-label">Pedidos Recebidos</span> </a>
            </li>
            <li ng-if="!ctrl.desapear" ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-file-o"></i> <span class="nav-label">Fazer Pedido</span> </a>
            </li>
            <li ng-show="!ctrl.desapear" ui-sref-active="active">
                <a ui-sref="index.pedidos"><i class="fa fa-file-text-o"></i> <span class="nav-label">Pedidos Pendentes</span></a>
            </li>
        </ul>

    </div>
</nav>
