<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h2>
                    REQUERIMENTO DO ALUNO – SOLICITAÇÃO ÚNICA
                </h2>
              <form name="form">
                    <div class="col-lg-6 divLabel" >
                      <div class="input-title">Nome<span> *</span></div>
                      <input name="name" ng-model="name" type="text" class="input-field ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="Nome completo" required
                      aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="col-lg-6 divLabel">
                      <div class="input-title">Email<span> *</span></div>
                      <input name="email" ng-model="email" type="email" class="input-field ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="email@email.com" required>
                    </div>

                    <div class="col-lg-6 divLabel">
                      <div class="input-title">Telefone Residencial</div>
                      <input name="phone" ng-model="phone" type="text" class="input-field input-field-with-icon ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="(DDD) 9999-9999" aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="col-lg-6 divLabel">
                      <div class="input-title">Telefone Celular</div>
                      <input name="cellPhone" ng-model="cellPhone" type="text" class="input-field input-field-with-icon ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="(DDD) 99999-9999" aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="col-lg-12 divLabel">
                      <div class="input-title">Endereço<span> *</span></div>
                      <input name="address" ng-model="address" type="text" class="input-field input-field-with-icon ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="Endereço completo" required aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="col-lg-3 divLabel">
                      <div class="input-title">Bairro<span> *</span></div>
                      <input name="neighborhood" ng-model="neighborhood" type="text"
                             class="input-field input-field-with-icon ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
                             placeholder="Bairro" required aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="col-lg-3 divLabel">
                      <div class="input-title">Cidade<span> *</span></div>
                      <input name="city" ng-model="city" type="text"
                             class="input-field input-field-with-icon ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
                             placeholder="Cidade" required aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="col-lg-3 divLabel">
                      <div class="input-title">UF<span> *</span></div>
                      <input name="uf" ng-model="uf" type="text"
                             class="input-field input-field-with-icon ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
                             placeholder="UF" required aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="col-lg-3 divLabel">
                      <div class="input-title">CEP<span> *</span></div>
                      <input name="cep" ng-model="cep" type="text"
                             class="input-field input-field-with-icon ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
                             placeholder="99999-999" required aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="col-lg-8 divLabel">
                      <div class="input-title">Curso<span> *</span></div>
                      <select class="form-control" name="course" required>
                            <option>Engenharia da Computação</option>
                            <option>Engenharia da Elétrica</option>
                            <option>Administração</option>
                            <option>Letras</option>
                        </select>
                    </div>

                    <div class="col-lg-4 divLabel">
                      <div class="input-title">Período<span> *</span></div>
                      <input name="period" ng-model="period" type="text" class="input-field ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="Período" required aria-invalid="true" autocomplete="off">
                    </div>

                    <div class="text-left m-t-lg">
                        <div class="col-lg-12" id="divLabel">
                          <h3>
                            Venho requerer à Coordenação do curso, segundo as Normas Acadêmicas da Educação a seguinte solicitação:
                            <span> *</span>
                          </h3>
                        </div>
                    </div>

                    <div class="col-lg-4 class-check-form" >
                        <input name="solicitacao" id="segundaChamada" type="radio" value="segundaChamada">
                            Segunda Chamada de Prova Ministrada
                    </div>

                    <div class="col-lg-4 class-check-form" >
                        <input name="solicitacao" id="revisao" type="radio" value="revisao">
                            Revisão de Prova e Nota
                    </div>

                    <div  class="col-lg-4 class-check-form" >
                        <input name="solicitacao" id="preRequisito" type="radio" value="preRequisito">
                            Quebra de Pré-Requisito
                    </div>

                    <div  class="col-lg-4 class-check-form" >
                        <input name="solicitacao" id="coRequisito" type="radio" value="coRequisito">
                            Quebra de Co-Requisito
                    </div>

                    <div class="col-lg-4 class-check-form">
                        <input name="solicitacao" id="dispensaDisciplina" type="radio" value="dispensaDisciplina">
                            Dispensa de Disciplina
                    </div>

                    <div  class="col-lg-4 class-check-form">
                        <input name="solicitacao" id="matriculaMateria" type="radio" value="matriculaMateria">
                            Matrícula em Matéria(s)
                    </div>

                    <div  class="col-lg-4 class-check-form">
                        <input name="solicitacao" id="trancamento" type="radio" value="trancamento">
                             Cancelamento de Matrícula
                    </div>

                     <div  class="col-lg-4 class-check-form">
                        <input name="solicitacao" id="trancamentoTotal" type="radio" value="trancamentoTotal">
                            Trancamento de Matrícula Total
                    </div>

                    <div class="col-lg-4 class-check-form">
                        <input name="solicitacao" id="dispensaEstagio" type="radio" value="dispensaEstagio">
                           Dispensa do Estágio Curricular Obrigatório
                    </div>

                    <div class="col-lg-12 divLabel">
                        <div class="input-title">Observações</div>
                        <textarea >

                        </textarea>
                    </div>

                    <div class="col-lg-12 divLabel">
                        <button ng-disabled="form.$invalid" ui-sref="index.pedidos" ng-click="ctrl.send()" class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit">
                            <strong >Enviar</strong>
                        </button>
                    </div>
              </form>
            </div>
        </div>
    </div>
</div>
