/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}
.logo-name {
  text-align: center;
  padding: 45px 0 25px 0;
}
.middle-box-container {
  padding: 0 8% 0;
}

.columms-class{
  background-color: white;
  text-transform:uppercase;
  height: auto;
  margin-top: 25px;
  padding-top:10px;
  min-height: 42px;
  border: solid 2px #eeeeee;
  width: 100%;
  border-radius: 4px
}
@media(max-width: 767px){
  .btn-responsive-lotes{
    padding-top: 10px;
    text-align: left;
    padding-left: 0;
  }
  .btn-responsive-lotes > #btn-logout, .btn-responsive-lotes > #btn-create{
    margin-left: 0;
  }
  .align-text-lotes{
    padding-bottom: 10px;
  }

}
.align-text-lotes{
  font-size: 11px;
  letter-spacing: 1px;
  color: #aaafc1;

}
.align-text-lotes > span, .text-mosq-name > span{
  font-weight: 600;
}

.text-mosq-name{
  font-family: Montserrat;
  font-size: 11px;
  padding-top: 2px;
  letter-spacing: 1px;
  color: #aaafc1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tooltip {
  position: fixed;
}
