#divLabel {
	margin-bottom: 26px; 
	position: relative;
}

#divLabel > textarea {
	width: 100%; 
	height: 150px;
}

.input-title > span {
	color: red;
}

h3 > span {
	color: red;
}

#columms {
	padding-left:0;
	margin-top:20px;
	list-style: none;
}

#detailsLink {
	text-decoration: underline;
	cursor: pointer; 
	color:#0e6a36;
}

#cancelRequest {
	color: red;
	cursor: pointer
}

#acceptRequest {
	color: green;
	cursor: pointer
}